@charset "UTF-8";
.text1{font-size:16px;}
.text2{font-size:24px;}
.text3{font-size:30px;
      font-family: "Caveat", cursive;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;}
